:root {
  --accent: #2244FF;
  --accent-highlight: #55AAFF;
  --background: white;
  --error: #BF1725;
  --muted: #A0A0A0;
  --muted-dark: #686868;
  --muted-light: #EAEAEA;
  --spacer: 16px;
  --spacer-half: 8px;
  --success: #259F37;
  --text: #050815;
  --text-inverted: white;
  --width: 400px;
}

* {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--accent);
}

body, html {
  background-color: var(--background);
}

button {
  background-color: var(--accent);
  border: none;
  border-radius: calc(var(--spacer) / 2);
  box-shadow: none;
  color: var(--text-inverted);
  font-size: var(--spacer);
  height: calc(var(--spacer) * 3);
  transition: background-color 200ms ease-out, box-shadow 200ms ease-out;
}
button:hover {
  background-color: var(--accent-highlight);
  box-shadow: 0 0 calc(var(--spacer) / 2) calc(var(--spacer) / 8) var(--accent-highlight);
  cursor: pointer;
  transition: background-color 200ms ease-in, box-shadow 200ms ease-in;
}
button:disabled {
  background-color: var(--muted);
  box-shadow: none;
  cursor: not-allowed;
  transition: background-color 200ms ease-in;
}

h1 {
  color: var(--accent);
}

input {
  background-color: var(--background);
  border: 2px solid var(--accent);
  border-radius: calc(var(--spacer) / 2);
  outline: none;
  padding: var(--spacer-half);
  transition: border 200ms ease-out, box-shadow 200ms ease-out;
  width: 100%;
}
input:hover {
  border: 2px solid var(--accent-highlight);
  box-shadow: 0 0 calc(var(--spacer) / 2) calc(var(--spacer) / 8) var(--accent-highlight);
  transition: border 200ms ease-in, box-shadow 200ms ease-in;
}
input:focus {
  border: 2px solid var(--accent-highlight);
  box-shadow: 0 0 calc(var(--spacer) / 2) calc(var(--spacer) / 8) var(--accent-highlight);
  transition: border 200ms ease-in, box-shadow 200ms ease-in;
}

footer {
  font-size: calc(var(--spacer) - (var(--spacer) / 4));
  height: calc(var(--spacer) * 3);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (var(--spacer) * 3));
  justify-content: center;
  padding: var(--spacer);
  width: 100%;
}

select {
  border: 2px solid var(--accent);
  border-radius: calc(var(--spacer) / 2);
  outline: none;
  padding: var(--spacer-half);
  width: 100%;
}
select:disabled, select:disabled:hover, input:disabled {
  background-color: var(--muted-light);
  border: 2px solid var(--muted-light);
  box-shadow: none;
  cursor: not-allowed;
  transition: background-color 200ms ease-in, border 200ms ease-in;
}
select:hover {
  border: 2px solid var(--accent-highlight);
  box-shadow: 0 0 calc(var(--spacer) / 2) calc(var(--spacer) / 8) var(--accent-highlight);
  transition: border 200ms ease-in, box-shadow 200ms ease-in;
}
select:focus {
  border: 2px solid var(--accent-highlight);
  box-shadow: 0 0 calc(var(--spacer) / 2) calc(var(--spacer) / 8) var(--accent-highlight);
  transition: border 200ms ease-in, box-shadow 200ms ease-in;
}

.align-center {
  align-items: center;
}
.direction-column {
  flex-direction: column;
}
.flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.margin-auto {
  margin: 0 auto;
}
.mb-1 {
  margin-bottom: var(--spacer);
}
.ml-1 {
  margin-left: var(--spacer);
}
.ml-half {
  margin-left: var(--spacer-half);
}
.mt-1 {
  margin-top: var(--spacer);
}
.mt-2 {
  margin-top: calc(var(--spacer) * 2);
}
.mt-half {
  margin-top: var(--spacer-half);
}
.width {
  width: var(--width);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--accent);
  height: auto;
  margin: calc(var(--spacer) * 2) auto 0 auto;
  padding: 0;
  transition: color 200ms ease-out;
}
.link-button:hover {
  background-color: transparent;
  box-shadow: none;
  color: var(--accent-highlight);
  transition: color 200ms ease-in;
}
.link-button:disabled {
  background-color: transparent;
  cursor: not-allowed;
  color: var(--muted);
  transition: color 200ms ease-in;
}

@keyframes fading {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.error-container {
  height: calc(var(--spacer) * 3);
  margin-top: var(--spacer);
  width: var(--width);
}
.error-text, .success-text {
  align-items: center;
  animation: fading 5s linear;
  border-radius: var(--spacer-half);
  box-shadow: none;
  color: var(--text-inverted);
  display: flex;
  height: calc(var(--spacer) * 3);
  justify-content: center;
  opacity: 0;
  transition: box-shadow 200ms ease-out;
  width: var(--width);
}
.error-text {
  background-color: var(--error);
}
.error-text:hover {
  box-shadow: 0 0 calc(var(--spacer) / 2) calc(var(--spacer) / 8) var(--error);
  transition: box-shadow 200ms ease-in;
}
.success-text {
  background-color: var(--success);
}
.success-text:hover {
  box-shadow: 0 0 calc(var(--spacer) / 2) calc(var(--spacer) / 8) var(--success);
  transition: box-shadow 200ms ease-in;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }           
}
.logo, .logo-image {
  height: calc(var(--spacer) * 4);
  user-select: none;
  width: calc(var(--spacer) * 4);
}
.logo {
  animation: rotate 1s ease-in-out infinite;
  animation-play-state: paused;
  background-color: transparent;
  border: none;
  padding: 0;
}
.logo:hover{
  animation-play-state: running;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
}
.button-loader {
  animation: rotate 1.5s linear infinite;
  height: calc(var(--spacer) * 2);
  user-select: none;
  width: calc(var(--spacer) * 2);
}
